---

---

<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>We Love Green 2026 - Accueil</title>
        <link rel="manifest" href="/manifest.webmanifest" />
        <meta name="theme-color" content="#111111" />
    </head>
    <body>
        <h1>We Love Green 2026 - Accueil</h1>
        <a href="/timetable">Aller aux TimeTables (test)</a>
  </body>
</html>
