---
import Layout from '../layouts/Layout.astro';
import Timetable from '../components/Timetable.astro';
---

<Layout title="We Love Green 2026 - Timetable">
    <h1>We Love Green 2026 - Timetable</h1>
    <Timetable />
</Layout>
