---
import type { EnrichedDay } from '../types/timetable';

interface Props {
	dayData: EnrichedDay;
}

const { dayData } = Astro.props;

const allDecimalTimes = dayData.scenes.flatMap(scene => scene.lineup.flatMap(event => [event.startDecimal, event.endDecimal]));
const minTime = Math.min(...allDecimalTimes);
const maxTime = Math.max(...allDecimalTimes);
const totalQuarters = (maxTime - minTime) * 4;

---

<div>
    <p>Le premier concert du jour démarre à : {minTime} </p>
    <p>Le dernier concert du jour termine à : {maxTime}</p>
    <p>La journée dure (en quarts d'heures) : {totalQuarters}</p>
</div>

<pre>
    { JSON.stringify(dayData) }
</pre>
