---
import type { Day, TimetableData, EnrichedDay } from '../../types/timetable';
import Layout from '../../layouts/Layout.astro';
import rawData from '../../data/data.json';
import { enrichTimetableData } from '../../utilities/enrichTimetableData';
import TimetableGrid from '../../components/TimetableGrid.astro';

interface Props {
    initialData: EnrichedDay;
}

export function getStaticPaths() {
    const data = enrichTimetableData(rawData as TimetableData);
    
    return data.map(day => ({
        params: { date: day.date },
        props: { initialData: day }
    }))
}

const { initialData } = Astro.props;
---
<Layout title={`${initialData.label}`}>
    <main class="content-area">
        <TimetableGrid dayData={initialData} />
    </main>
</Layout>

<style>
    .content-area {
        padding: 16px;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        /* device view height (100dvh) - footer (4rem) - header (2*1.5rem*1.5)-(2*16px) - padding content area (2*16px)*/
        height: calc(100dvh - 4rem - calc(2 * 1.5rem * 1.5) - 16px - 16px - 16px - 16px);
    }
</style>